# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment settings
*.env
.env/
*.venv
*.virtualenv
env/
venv/

# Streamlit specific
.streamlit/

# Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS files
.DS_Store

# Linux files
*~
# Temporary files
*.log
*.tmp
*.bak
*.swp

# Editor and IDE files
*.sublime-project
*.sublime-workspace
inceptionv3_v2model.h5
*.h5

